<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijoc-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Tabla</h2>

    <table>
      
      <thead>
        <tr>
          <th>Campo 1</th>
          <th>Campo 2</th>
          <th>Campo 3</th>
          <th>Campo 4</th>
          <th>Campo 5</th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td>dato 1</td>
          <td>dato 2</td>
          <td>dato 3</td>
          <td>dato 4</td>
          <td>dato 5</td>
        </tr>
        <tr>
          <td>dato 1</td>
          <td>dato 2</td>
          <td>dato 3</td>
          <td>dato 4</td>
          <td>dato 5</td>
        </tr>
        <tr>
          <td>dato 1</td>
          <td>dato 2</td>
          <td>dato 3</td>
          <td>dato 4</td>
          <td>dato 5</td>
        </tr>
        <tr>
          <td>dato 1</td>
          <td>dato 2</td>
          <td>dato 3</td>
          <td>dato 4</td>
          <td>dato 5</td>
        </tr>
        <tr>
          <td>dato 1</td>
          <td>dato 2</td>
          <td>dato 3</td>
          <td>dato 4</td>
          <td>dato 5</td>
        </tr>
      </tbody>

      <tfoot></tfoot>
    </table>
  </template>

  <script>
    /**
     * `hijoc-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijocComponent extends Polymer.Element {
      static get is() { return 'hijoc-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijoc-component'
          }
        };
      }
    }

    window.customElements.define(HijocComponent.is, HijocComponent);
  </script>
</dom-module>
